// vars
$white:#f6f6f6;
$blue:#33c1e3;
$red:#e85f61;
$black:#414141;
$gray:#727272;
$button:#28b5bc;

//layout
@import "_misc/mixins";
@import "_misc/adjustment";
@import "_misc/normalize";

// styles
@import "sections/header.scss";
@import "sections/sidebar.scss";
@import "sections/content/content_index.scss";
@import "sections/content/content_rent.scss";
@import "sections/content/content_basket.scss";
@import "sections/content/content_housesCatalog.scss";
@import "sections/content/content_house.scss";
@import "sections/content/content_edit_house.scss";
@import "sections/content/content_test.scss";
@import "sections/content/content_admin_login.scss";
@import "sections/content/content_admin.scss";
@import "sections/content/stat.scss";
@import "sections/footer.scss";
