.right_house{
  width: 37%;
  float:left;
}
.house_nhouse{
	font-weight: bold;
	text-align: left;
	font-size: 30px;
	color: #2d9fce;
	margin: 10px 0 10px 0 ;
}
.house_pic{
  width: 270px;
  height: 250px;
  background:red;
}

.house_text{
	color: $blue;
}
.house_gltext{
	font-weight: bold;
	text-align: left;
	font-size: 30px;
	color: #2d9fce;
	margin: 10px 0 10px 0 ;
}